.helper-fontsize{
  font-size: small;
}
.helper-btn{
  border-radius: 25px;
}

.info-content{
padding-top: 45px;
padding-bottom: 30px;
}
.content-dashboard{
  padding-top:32px;
  padding-bottom:20px;
  padding-left:32px;
  padding-right:32px;
}

.info-list{
  margin-bottom: 16px;
  font-family: 'IRANYekanWebFn';
  font-size: 14px;
  font-weight: 300;
  align-items: center;
}

@media only screen and (min-width:992px){
  .form-button{
    padding-top: 10px;
    padding-bottom: 5% !important;
  }
  .info-card{
    padding-top: 55px;
    padding-bottom: 24px !important;

  }
}

@media only screen and (min-width:600px){
  .form-button{
    padding-top: 21px;
    padding-bottom: 24px !important;

  }
  .info-card{
    padding-top: 65px;
    padding-bottom: 24px !important;
  }
 
}